{% extends 'base.html.twig' %}

{% block title %}Share Music{% endblock %}



{% block body %}

    <div class="flex-row items-center justify-center my-2 m-auto w-[640px]">
        <h1 class="m-2 text-xl dark:text-slate-100">Share music on multiplatform</h1>
        {{ form_start(form) }}
            <div class="flex w-full">
                {{ form_label(form.query, null, {label_attr: {class: 'sr-only', }}) }}
                {{ form_widget(form.query, {attr: {class: 'mr-2 p-2 w-full rounded', autofocus:true}}) }}
                {{ form_widget(form.submit, {attr: {class: 'mx-2'}}) }}
            </div>
        {{ form_end(form) }}
    </div>

    {% if results %}
    <div>
        <ul>
            {% for result in results %}
                <li class="m-2">
                    <div class="flex rounded p-2 dark:bg-slate-700">
                        <img class="mr-2 aspect-1 max-w-48 rounded" src="{{ result.thumbnail }}" alt="" />
                        <div class="w-full flex flex-col">
                            <div class="text-xl dark:text-slate-200 font-bold">{{ result.title }}</div>
                            <div class="text-lg dark:text-slate-400">{{ result.album }}</div>
                            <div class="text-sm dark:text-slate-200 font-bold">{{ result.artist }}</div>
                            <a href="{{ path('app_share', {hash: result.hash}) }}"
                               class="block p-2 mt-auto rounded dark:bg-slate-300 dark:text-slate-800">Shaaaare it !</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

{% endblock %}
