<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🎵</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="h-screen dark:bg-slate-800">
        <main class="flex flex-col justify-between min-h-64">
            {% block body %}{% endblock %}
        </main>
        <footer class="p-4 dark:text-slate-100">
            <ul>
                <li><a href="{{ path('app_home') }}">{{ 'footer.home'|trans }}</a></li>
            </ul>
            <ul>
                <li {{ stimulus_controller('theme') }}>
                    <button {{ stimulus_action('theme', 'toggle', 'click') }}
                        {{ stimulus_target('theme', 'button') }}
                         data-dark="{{ 'footer.dark_theme'|trans }}"
                         data-light="{{ 'footer.light_theme'|trans }}"
                         title="{{ 'footer.change_theme'|trans }}"
                    ></button>
                </li>
            </ul>
        </footer>
    </body>
</html>
