{% extends 'base.html.twig' %}

{% block title %}{{ 'home.title'|trans }}{% endblock %}

{% block body %}

    <div class="{{ cls(["sticky top-0 flex-row items-center justify-center",
        "py-2 m-auto w-full max-w-[1024px] bg-white",
        "dark:bg-stone-800"]) }}">
        <h1 class="{{ cls(["py-2 text-xl dark:text-stone-100"]) }}">{{ block('title') }}</h1>
        {{ form_start(form) }}
            <div class="flex w-full my-2 rounded border-2 border-stone-900 dark:border-stone-400">
                {{ form_label(form.query, null, {label_attr: {class: 'sr-only', }}) }}
                {{ form_widget(form.query, {attr: {class: 'p-2 w-full', autofocus:true}}) }}
                {% set buttonCls = cls(['p-2 border-l-2 border-stone-900',
                    'text-sm leading-3',
                    'bg-stone-200',
                    'dark:border-stone-400 hover:opacity-70']) %}
                {{ form_widget(form.submit, {attr: {class: buttonCls}}) }}
                <a title="{{ 'search.clear.title'|trans }}"
                    class="{{ buttonCls }}"
                    href="{{ path('app_home') }}"
                >{{ ux_icon('mdi:clear', {class:"w-4 h-4 m-1"}) }}</a>
            </div>
        {{ form_end(form) }}
    </div>

    {% if results %}
    <div class="mx-auto w-full max-w-[1024px]">
        <ul>
            {% for result in results %}
                <li class="my-2">
                    <div class="flex rounded p-2 bg-stone-200 dark:bg-stone-700">
                        <img class="mr-2 aspect-1 max-w-48 rounded" src="{{ result.thumbnail }}" alt="" />
                        <div class="w-full flex flex-col">
                            <div class="text-xl dark:text-stone-200 font-bold">{{ result.title }}</div>
                            <div class="text-lg dark:text-stone-400">{{ result.album }}</div>
                            <div class="text-sm dark:text-stone-200 font-bold">{{ 'search_result.artist'|trans({'{artist}': result.artist}) }}</div>
                            <a href="{{ path('app_create', {hash: result.hash}) }}"
                               class="block p-2 mt-auto rounded bg-stone-800 text-stone-300 dark:bg-stone-300 dark:text-stone-800 hover:opacity-70">
                                {{ ('search_result.'~result.type~'.share')|trans }}
                            </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% elseif app.request.query.has('query') %}
    <div class="mx-auto w-full max-w-[1024px] dark:text-stone-200">
        {{ 'home.no_results'|trans }}
    </div>
    {% endif %}

{% endblock %}
