{% extends 'base.html.twig' %}

{% block title %}{{ ('share.'~share.type.value~'.title')|trans({'{title}': share.title, '{album}': share.album, '{artist}': share.artist}) }}{% endblock %}

{% block body %}
    <div class="flex-row items-center justify-center text-slate-200 py-2 m-auto w-[640px]">

        <h1 class="sr-only">{{ block('title') }}</h1>

        <div class="flex">
            <div class="max-w-60">
                <img src="{{ path('app_thumbnail', {id: share.id}) }}" class="h-60" alt=""/>
                <div class="my-2 text-xl dark:text-slate-200 font-bold leading-5">{{ share.title }}</div>
                <div class="my-2 text-lg dark:text-slate-400 leading-5">{{ share.album }}</div>
                <div class="my-2 text-sm dark:text-slate-200 font-bold leading-5">{{ share.artist }}</div>
            </div>
            <div class="px-2">
                <ul class="flex">
                    {% for match in share.matches %}
                        <li>
                            <a href="{{ match.url }}" target="_blank"
                               class="m-2 flex flex-col items-center hover:opacity-70"
                               title="{{ 'share.open'|trans({'{provider}': match.provider}) }}">
                                <img class="w-16 h-16 p-2" src="{{ asset('images/'~(match.provider|lower)~'.svg') }}"
                                     alt=""/>
                                <span>{{ match.provider }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>


        <div {{ stimulus_controller('share') }}>

            <button class="flex items-center hover:opacity-70"
                    title="{{ 'share.copy_share'|trans }}"
                    {{ stimulus_action('share', 'copy', 'click') }}
                    {{ stimulus_target('share', 'url') }}
                    data-url="{{ url('app_share', {id: share.id}) }}"
                    data-text="{{ 'share.copied'|trans }}"
            >
                    <span>
                        {{ url('app_share', {id: share.id}) }}
                    </span>
                    <span data-share-target="icon">{{ ux_icon('fa6-regular:copy', {class:"w-4 h-4 m-2"}) }}</span>
            </button>
        </div>
    </div>
{% endblock %}
